{% extends 'index.html' %}
{% load staticfiles %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/homepage.css' %}">

{% endblock %}

{% block content %}

<!-- body content -->
<div class="container">
  <div class="row">    
    <!-- side bar -->
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
      <div class="panel">
        <div class= "sidebar_subsection" id = "all_ideas"style= "background-color: #0F52BA; color: white;">
          All Ideas
        </div>
        <div class = "sidebar_divider">
        </div>

        <div class= "sidebar_subsection">
          Area-Specific
        </div>
        <div class = "sidebar_title">
          Academics
        </div>
        <div class = "sidebar_title">
          Athletics
        </div>
        <div class = "sidebar_title">
          Academics
        </div>
        <div class = "sidebar_title">
          Campus Events
        </div>
        <div class = "sidebar_title">
          Career Services
        </div>
        <div class = "sidebar_title">
          Dining Services
        </div>
        <div class = "sidebar_title">
          Facilities
        </div>
        <div class = "sidebar_title">
          Health Services
        </div>
        <div class = "sidebar_title">
          Housing/Residential Life
        </div>
        <div class = "sidebar_title">
          Student Groups
        </div>
        <div class = "sidebar_title">
          Technology
        </div>
        <div class = "sidebar_title">
          Miscellaneous
        </div>
        <div class = "sidebar_title">
          Long-Term Goals
        </div>

        <div class = "sidebar_divider">
        </div>

        <div class= "sidebar_subsection">
          School-Specific
        </div>
        <div class = "sidebar_title">
          Barnard College
        </div>
        <div class = "sidebar_title">
          Columbia College
        </div>
        <div class = "sidebar_title">
          Engineering
        </div>
        <div class = "sidebar_title">
          General Studies
        </div>
        <div class = "sidebar_title">
          SIPA
        </div>

        <div class = "sidebar_divider">
        </div>

        <div class= "sidebar_subsection">
          Class-Specific
        </div>
        <div class = "sidebar_title">
          2015
        </div>
        <div class = "sidebar_title">
          2016
        </div>
        <div class = "sidebar_title">
          2017
        </div>
        <div class = "sidebar_title">
          2018
        </div>

        <div class = "sidebar_divider">
        </div>

      </div>
    </div>

    <div class="col-xs-3 col-sm-3 hidden-md hidden-lg">
      <div class="panel">
        <div class= "sidebar_subsection_small" id = "all_ideas" style= "background-color: #0F52BA; color: white;">
          All Ideas
        </div>
        <div class = "sidebar_divider">
        </div>

        <div class= "sidebar_subsection_small">
          Area-Specific
        </div>
        <div class = "sidebar_title_small">
          Academics
        </div>
        <!-- btn tourn-btn btn-bracket btn-control -->
        <div class = "sidebar_title_small">
          Athletics
        </div>
        <div class = "sidebar_title_small">
          Academics
        </div>
        <div class = "sidebar_title_small">
          Campus Events
        </div>
        <div class = "sidebar_title_small">
          Career Services
        </div>
        <div class = "sidebar_title_small">
          Dining Services
        </div>
        <div class = "sidebar_title_small">
          Facilities
        </div>
        <div class = "sidebar_title_small">
          Health Services
        </div>
        <div class = "sidebar_title_small">
          Housing/Res
        </div>
        <div class = "sidebar_title_small">
          Student Groups
        </div>
        <div class = "sidebar_title_small">
          Technology
        </div>
        <div class = "sidebar_title_small">
          Misc.
        </div>
        <div class = "sidebar_title_small">
          Long-Term Goals
        </div>

        <div class = "sidebar_divider">
        </div>

        <div class= "sidebar_subsection_small">
          School-Specific
        </div>
        <div class = "sidebar_title_small">
          Barnard College
        </div>
        <div class = "sidebar_title_small">
          Columbia College
        </div>
        <div class = "sidebar_title_small">
          Engineering
        </div>
        <div class = "sidebar_title_small">
          General Studies
        </div>
        <div class = "sidebar_title_small">
          SIPA
        </div>

        <div class = "sidebar_divider">
        </div>

        <div class= "sidebar_subsection_small">
          Class-Specific
        </div>
        <div class = "sidebar_title_small">
          2015
        </div>
        <div class = "sidebar_title_small">
          2016
        </div>
        <div class = "sidebar_title_small">
          2017
        </div>
        <div class = "sidebar_title_small">
          2018
        </div>

        <div class = "sidebar_divider">
        </div>

      </div>
    </div>
    
    <div class = "col-sm-9 col-xs-9 col-md-9 col-lg-9">
        <div class = "panel">
          <div class = "panel-body">
            <div href="" class="btn tourn-btn btn-dashboard btn-control col-xs-6 col-sm-3 col-md-2 col-lg-2" sub-page= "Recent" style= "background-color: #0F52BA; color: white;">Recent</div>
            <div href="" class="btn tourn-btn btn-main btn-control col-xs-6 col-sm-3 col-md-2 col-lg-2" sub-page= "Popular">Popular</div>
            <div href="" class="btn tourn-btn btn-entries btn-control col-xs-6 col-sm-3 col-md-2 col-lg-2" sub-page= "MyIdeas">My Ideas</div>
            <div href="" class="btn tourn-btn btn-bracket btn-control col-xs-6 col-sm-3 col-md-2 col-lg-2" sub-page= "InReview">In Review</div>
            <div href="" class="btn tourn-btn btn-bracket btn-control col-xs-6 col-sm-3 col-md-2 col-lg-2" sub-page= "InProgress">In Progress</div>
            <div href="" class="btn tourn-btn btn-bracket btn-control col-xs-6 col-sm-3 col-md-2 col-lg-2" sub-page= "Completed">Completed</div>
          </div>
        </div>
    </div>

    <!-- scroll content -->
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9"> 
      <div class="panel">
        <div class="panel-body" id="newsfeed-head">      
        	

          <div class="row post-row">
        	<br>
            <!-- left section -->
            <div class="col-md-3 col-sm-3 text-center">
        	    <div class="col-md-12 col-sm-12 text-center">
              Feedback Score:
              </div>
              <div class="col-md-12 col-sm-12 text-center number_count">
              40
              </div>
              <div class="col-md-12 col-sm-12 text-center">
                <div class="col-md-6 col-sm-6 text-center">
                  <div style= "text-align: left;">
                  I agree
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 text-center">
                  <div style= "text-align: right;">
                  I don't
                  </div>
                </div>
              </div>
        	  </div>
        	  
            <!-- right section -->
            <div class="col-md-9 col-sm-9">
              <div class="col-md-12 col-sm-12">
                Repurpose Content to Reach a Wider Audience
              </div>
        	  </div>

        	</div>



        	<hr>
        	<div class="row post-row">
        	<br>
        	  <div class="col-md-2 col-sm-3 text-center">
        	    <img class="post-image img-circle" src="http://api.randomuser.me/portraits/thumb/men/58.jpg">
        	  </div>
        	  <div class="col-md-10 col-sm-9">
        	    <h3>
        	  	  Repurpose Content to Reach a Wider Audience
        	    </h3>
        	  </div>
        	</div>
        	<hr>
        	<div class="row post-row">
        	<br>
        	  <div class="col-md-2 col-sm-3 text-center">
        	    <img class="post-image img-circle" src="http://api.randomuser.me/portraits/thumb/men/58.jpg">
        	  </div>
        	  <div class="col-md-10 col-sm-9">
        	    <h3>
        	  	  Repurpose Content to Reach a Wider Audience
        	    </h3>
        	  </div>
        	</div>

      </div>                                       
    </div><!--/col-12-->
  </div>
</div>

{% endblock %}

{% block javascript %}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/posts.js' %}"></script>

{% endblock %}
