{% extends 'index.html' %}
{% load staticfiles %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/homepage.css' %}">

{% endblock %}

{% block content %}

<!-- body content -->
<div class="container">
  <div class="row">    
    <!-- side bar -->
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
      <div class="panel">
        <div class= "sidebar_subsection side_bar" id = "all_ideas">
          All Ideas
        </div>
        <div class = "sidebar_divider">
        </div>
<!-- 
        <div class= "sidebar_subsection">
          Area-Specific
        </div> -->
        <div class = "sidebar_title side_bar" id = "academics">
          Academics
        </div>
        <div class = "sidebar_title side_bar" id = "athletics">
          Athletics
        </div>
        <div class = "sidebar_title side_bar" id = "campus_events">
          Campus Events
        </div>
        <div class = "sidebar_title side_bar" id = "career_services">
          Career Services
        </div>
        <div class = "sidebar_title side_bar" id = "dining_services">
          Dining Services
        </div>
        <div class = "sidebar_title side_bar" id = "facilities">
          Facilities
        </div>
        <div class = "sidebar_title side_bar" id = "health_services">
          Health Services
        </div>
        <div class = "sidebar_title side_bar" id = "housing/residential">
          Housing/Residential Life
        </div>
        <div class = "sidebar_title side_bar" id = "student_groups">
          Student Groups
        </div>
        <div class = "sidebar_title side_bar" id = "technology">
          Technology
        </div>
        <div class = "sidebar_title side_bar" id = "misc">
          Miscellaneous
        </div>
        <div class = "sidebar_title side_bar" id = "goals">
          Long-Term Goals
        </div>

        <div class = "sidebar_divider">
        </div>

<!--         <div class= "sidebar_subsection">
          School-Specific
        </div> -->
        <div class = "sidebar_title side_bar" id = "barnard">
          Barnard College
        </div>
        <div class = "sidebar_title side_bar" id = "cc">
          Columbia College
        </div>
        <div class = "sidebar_title side_bar" id = "seas">
          Engineering
        </div>
        <div class = "sidebar_title side_bar" id = "gs">
          General Studies
        </div>
        <div class = "sidebar_title side_bar">
          SIPA
        </div>

        <div class = "sidebar_divider">
        </div>

<!--         <div class= "sidebar_subsection">
          Class-Specific
        </div> -->
        <div class = "sidebar_title side_bar" id = "2015">
          2015
        </div>
        <div class = "sidebar_title side_bar" id = "2016">
          2016
        </div>
        <div class = "sidebar_title side_bar" id = "2017">
          2017
        </div>
        <div class = "sidebar_title side_bar" id = "2018">
          2018
        </div>

        <div class = "sidebar_divider">
        </div>

      </div>
    </div>

    <div class="col-xs-3 col-sm-3 hidden-md hidden-lg">
      <div class="panel">
        <div class= "sidebar_subsection_small" id = "all_ideas" style= "background-color: #0F52BA; color: white;">
          All Ideas
        </div>
        <div class = "sidebar_divider">
        </div>

        <div class= "sidebar_subsection_small">
          Area-Specific
        </div>
        <div class = "sidebar_title_small">
          Academics
        </div>
        <!-- btn tourn-btn btn-bracket btn-control -->
        <div class = "sidebar_title_small">
          Athletics
        </div>
        <div class = "sidebar_title_small">
          Academics
        </div>
        <div class = "sidebar_title_small">
          Campus Events
        </div>
        <div class = "sidebar_title_small">
          Career Services
        </div>
        <div class = "sidebar_title_small">
          Dining Services
        </div>
        <div class = "sidebar_title_small">
          Facilities
        </div>
        <div class = "sidebar_title_small">
          Health Services
        </div>
        <div class = "sidebar_title_small">
          Housing/Res
        </div>
        <div class = "sidebar_title_small">
          Student Groups
        </div>
        <div class = "sidebar_title_small">
          Technology
        </div>
        <div class = "sidebar_title_small">
          Misc.
        </div>
        <div class = "sidebar_title_small">
          Long-Term Goals
        </div>

        <div class = "sidebar_divider">
        </div>

        <div class= "sidebar_subsection_small">
          School-Specific
        </div>
        <div class = "sidebar_title_small">
          Barnard College
        </div>
        <div class = "sidebar_title_small">
          Columbia College
        </div>
        <div class = "sidebar_title_small">
          Engineering
        </div>
        <div class = "sidebar_title_small">
          General Studies
        </div>
        <div class = "sidebar_title_small">
          SIPA
        </div>

        <div class = "sidebar_divider">
        </div>

        <div class= "sidebar_subsection_small">
          Class-Specific
        </div>
        <div class = "sidebar_title_small">
          2015
        </div>
        <div class = "sidebar_title_small">
          2016
        </div>
        <div class = "sidebar_title_small">
          2017
        </div>
        <div class = "sidebar_title_small">
          2018
        </div>

        <div class = "sidebar_divider">
        </div>

      </div>
    </div>
    
    <div class = "col-sm-9 col-xs-9 col-md-9 col-lg-9">
        <div class = "panel">
          <div class = "panel-body">
            <div href="" class="btn tourn-btn btn-dashboard btn-control col-xs-6 col-sm-3 col-md-2 col-lg-2 top_bar" id= "recent" sub-page= "Recent">Recent</div>
            <div href="" class="btn tourn-btn btn-main btn-control col-xs-6 col-sm-3 col-md-2 col-lg-2 top_bar" id = "popular" sub-page= "Popular">Popular</div>
            <div href="" class="btn tourn-btn btn-entries btn-control col-xs-6 col-sm-3 col-md-2 col-lg-2 top_bar" id = "ideas" sub-page= "MyIdeas">My Ideas</div>
            <div href="" class="btn tourn-btn btn-bracket btn-control col-xs-6 col-sm-3 col-md-2 col-lg-2 top_bar" id = "review" sub-page= "InReview">In Review</div>
            <div href="" class="btn tourn-btn btn-bracket btn-control col-xs-6 col-sm-3 col-md-2 col-lg-2 top_bar" id = "progress" sub-page= "InProgress">In Progress</div>
            <div href="" class="btn tourn-btn btn-bracket btn-control col-xs-6 col-sm-3 col-md-2 col-lg-2 top_bar" id = "completed" sub-page= "Completed">Completed</div>
          </div>
        </div>
    </div>

    <!-- scroll content -->
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9"> 
      <div class="panel">
        <div class="panel-body" id="newsfeed-head">      
        	

        <!-- single post -->
          <div class="row post-row">
        	 <br>
            <!-- left section -->
            <div class="col-md-3 col-sm-3 text-center">
        	    <div class="col-md-12 col-sm-12 text-center">
              Feedback Score:
              </div>
              <div class="col-md-12 col-sm-12 text-center number_count">
              40
              </div>
              <div class="col-md-12 col-sm-12 text-center">
                <div class="col-md-6 col-sm-6 text-center">
                  <div class= "upvote">
                  I agree
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 text-center">
                  <div class = "downvote">
                  I don't
                  </div>
                </div>
              </div>
        	  </div>
        	  
            <!-- right section -->
            <div class="col-md-9 col-sm-9">
              
              <!-- area category -->
              <div class="col-md-12 col-sm-12" style= "text-align: left;">
                <div class = "categories">Area Category:</div>
              </div>

              <br>

              <!-- title -->
              <div class="col-md-12 col-sm-12 complain_title">
                Some really awesome title and shit
              </div>

              <br>
              <br>

              <!-- comment -->
              <div class="col-md-12 col-sm-12 comment">
                I wish that lerner wasn't so fucking slanted.  I wish that lerner wasn't so fucking slanted.  I wish that lerner wasn't so fucking slanted.  I wish that lerner wasn't so fucking slanted.  I wish that lerner wasn't so fucking slanted.  I wish that lerner wasn't so fucking slanted.  
              </div>

              <br>
              <br>
              <br>
              <br>

              <!-- submitted by -->
              <div class="col-md-12 col-sm-12 submit_by">
                Submitted by gml2153 1 month ago 
              </div>


        	  </div>

        	</div>
          <hr>
          <!-- End of post -->


      </div>           
    </div><!--/col-12-->
  </div>
</div>

{% endblock %}

{% block javascript %}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/posts.js' %}"></script>
<script src="{% static 'js/homepage.js' %}"></script>


{% endblock %}
